@font-face{ font-family: LucySaid; src: url('Lucy Said Ok Personal Use.ttf');}
.topBar {
    background-color: #FFB49A;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3% 3.5%;
    font-family: LucySaid;
}
.muddyLogo{
    font-size: 50px;
    text-align: center;
    margin-left: 35%;
    color: #B62E50;
}

.top-links{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.top-links li{
    margin-left: 20px;
    text-align: bottom;
}
.top-links a{
        display: inline;
        color: #FF4F79;
        text-decoration: none;
        font-size: 145%;
}
.top-links a:hover{
    color: #A11692;
}
@font-face{ font-family: RusticRoadway; src: url('RusticRoadWay.otf');}
body{
    font-size: 125%;
    font-family: RusticRoadway;
    margin: 0;
    background-color: #fadfbb;
    color: #F56285;
}
@font-face{ font-family: WastedVindey; src: url('Wasted-Vindey.ttf');}
.changeFont{
    font-family: WastedVindey;
    font-size: larger;
}
.about .changeFont{
    font-family: WastedVindey;
    font-size: x-large;
}
hr{
    margin: 0;
    height: 7px;
    background-color: #A11692;
    border-color: #FF4F79;
    border-width: 3px;
}
footer{
    font-size: 50%;
}
.order body{
    font-size: 125%;
    font-family: brillant;
    margin: 0;
    background-color: #FFDAB9;
    color: #17183B;
}
.order h3{
    margin-left: 20px;
    font-size: 85%;
}
.instruction{
    display: block;
    margin-left: 1.2%;
}
.basic label{
    display: block;
    margin: 0.5em 0;
}
fieldset {
    padding: 15px;
  }
input, textarea {
    background-color: #f5f5dc;
    border: 1px solid #F56285;
    color: #ffffff;
}
input[type="submit"] {
    display: block;
    width: 40%;
    margin: 1em auto;
    height: 2em;
    font-size: 26px;
    border-color: #F56285;
    border-radius: 5px;
    border-width: 3px;
    font-family: WastedVindey;
    color:#A11692;
  }
.aboutP {
    font-size: 23px;
    margin-left: 12%;
    margin-right: 60%;
}
.aboutimg{
    width: 12%;
    height: 12%;
    float: right;
}
h2{
    margin-left: 3.5%;
    font-size: 34px;
}
.aboutHr {
    margin-top: 60px;
    height: 34px;
    background-color: #FF4F79;
    border-color: #A11692;
    border-width: 7px;
    display: block;
    background-image:url('vines.PNG') ;
}

/*FLickity CSS*/
/*data-flickity='{"autoplay": true}'*/
* { box-sizing: border-box; }


.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 21%;
  height: 250px;
  margin-right: 10px;
  background: #f5f5dc;
  border-radius: 5px;
  counter-increment: gallery-cell;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 250px;
  color: #FFE9C3;
}
.carousel-cell img{
    padding-right: 13px;
    display: flex;
    width: 340px;
    height: 240px;
}
/*dots*/


.flickity-page-dots {
    bottom: -15px;
  }
  /* circles */
  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: .75;
    background: transparent;
    border: 2px solid #F56285;
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: #A11692;
    opacity: .8;
  }