h1{
    text-align: center;
}
body{
    background-color: #FFDAB9;
    color: #17183B;
    margin-left: 40px;
    margin-right: 40px;

}
hr{
    height: 2px;
    background-color: #A11692;
    border-color: #FF4F79;
    border-width: 2px;
}